@using System.Globalization;
@model IEnumerable<ThietBiNhaBep_23TH0004.Models.SanPham>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="banner-title">
    <div class="container">
        <div class="title primary-color">
            @ViewBag.Title
        </div>
    </div>
</div>
<div class="container ">
    <div class="row product">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class="item">
                    <a href='@Url.Action("Details","SanPhams_23TH0004", new {id = item.MaSanPham })'>
                        <img src="~/Upload/@item.HinhAnh" />
                    </a>
                    
                    <div class="col-content">
                        <h6>@item.TenSanPham</h6>
                        @if (item.GiaMoi.HasValue)
                        {
                            <h5 class="price old-price">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", item.Gia)</h5>
                            <h5 class="price primary-color">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", item.GiaMoi)</h5>
                        }
                        else
                        {
                            <h5 class="price primary-color">@string.Format(new CultureInfo("vi-VN"), "{0:N0} ₫", item.Gia)</h5>
                        }
                        <div style="text-align:center" class="mb-3">
                            <a class="btn buyNow primary-background text-white">
                                Mua hàng
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        }

    </div>
</div>

